/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
    --white: #fff;
    --black: #000;
    --gray-main: #1a1a1a;
    --gray-light: #8d8d8d;
    --gray-second: #3c3c3c;
}